.markdown-preview {
  min-height: 750px;
}

.markdown-input {
  height: 750px;
}

.markdown-input textarea {
  height: 100%;
}

.col-xs-12 {
  margin-bottom: 20px;
}

.panel-body {
  background-color: #eee;
}